@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ExpiringNotice {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 20rem;
	border-radius: 1rem;
	background-color: map-get($map: $blueGreyMap, $key: "600");

	&_top {
		width: 100%;
		height: 4rem;
		@include flex_row(flex-end, flex-start);

		&_close {
			width: 3rem;
			height: 3rem;
			border-radius: 50%;
			background-color: map-get($map: $redMap, $key: "100");
			@include flex_row(center, center);

			&_icon {
				width: 2.5rem;
				height: 2.5rem;
				fill: map-get($map: $redMap, $key: "700");
			}
		}
	}
}
