@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ColorPickerOptions {
	position: absolute;
	top: 3.5rem;
	right: -0.5rem;
	width: 15rem;
	height: 12rem;
	padding: 0.2rem;
	border-radius: 0.8rem;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(auto-fit, 25%);
	grid-row-gap: 0.3rem;
	justify-items: center;
	align-items: center;
	align-content: center;
	background-color: #ffffff;
	box-shadow: map-get($map: $shadows, $key: "subtle");
}
