@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ColorPickerInput {
	width: 12rem;
	height: 3rem;
	border-radius: 0.8rem;
	@include flex_row(flex-start, center);
	margin-left: 0.3rem;

	&:focus-within {
		box-shadow: map-get($map: $shadows, $key: "light");
	}

	&_hexSquare {
		background-color: map-get($map: $blueGreyMap, $key: "600");
		width: 4rem;
		height: 3rem;
		border-radius: 0.8rem 0 0 0.8rem;
		@include flex_row(center, center);

		&_hex {
			font-size: 1.4rem;
			color: #ffffff;
		}
	}
	&_input {
		width: 100%;
		height: 3rem;
		border-radius: 0 0.8rem 0.8rem 0;
		border: none;
		outline: none;
		padding-left: 0.5rem;
		font-size: 1.4rem;
		font-weight: 600;
	}
}
