@import "./sass/variables";
@import "./sass/mixins";
@import "./sass/custom";
@import "./sass/queries";

.App {
	max-width: 100vw;
	max-height: 100vh;
	font-family: map-get($map: $fonts, $key: "mainSans");
}

.AddOpacity {
	opacity: 0.2;
}
