@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.FavoriteToggler {
	width: 100%;
	height: auto;
	padding: 0.5rem 2rem;
	@include flex_row(flex-start, center);
	&:hover {
		cursor: pointer;
	}

	&_label {
		font-size: 1.5rem;
		font-weight: 500;
		color: map-get($map: $yellowMap, $key: "500");
		&:hover {
			cursor: pointer;
		}
	}
}
