@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.SnippetAbout {
	@include fill_container;
	font-size: 1.4rem;
	font-weight: 500;
	color: map-get($map: $blueGreyMap, $key: "600");

	&_desc {
		width: 100%;
		height: auto;
		padding: 0.5rem 1rem;
		color: map-get($map: $blueGreyMap, $key: "500");
	}
	&_lang {
		width: 100%;
		height: auto;
		padding: 0.5rem 1rem;
	}
}
