@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.SnippetDate {
	width: auto;
	height: auto;
	margin-left: auto;

	&_date {
		font-size: 1.2rem;
		font-weight: 500;
		color: map-get($map: $blueGreyMap, $key: "600");
		font-family: map-get($map: $fonts, $key: "altSans");
		&:hover {
			cursor: pointer;
			color: map-get($map: $blueGreyMap, $key: "700");
		}
	}
}
