@import "./variables";

:export {
	purple50: $purple50;
	purple100: $purple100;
	purple200: $purple200;
	purple300: $purple300;
	purple400: $purple400;
	purple500: $purple500;
	purple600: $purple600;
	purple700: $purple700;
	purple800: $purple800;
	purple900: $purple900;
}
