@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.MarkdownEditor {
	@include fill_container;

	&_wrapper {
		@include fill_container;
		padding: 1rem 1rem;
		background-color: #eaecef;
		border-radius: 0.5rem;

		&_editor {
			@include fill_container;
			min-height: 45rem;
			padding: 0.3rem;
			background-color: #ffffff;
			overflow-x: auto;
			overflow-y: auto;
			border: none;
			outline: none;
			font-size: 1.6rem;
			font-weight: 500;
			color: map-get($map: $blueGreyMap, $key: "700");
			font-family: "Dank Mono", "Courier New", Courier, monospace;
			resize: none;

			/* Background Tracking */
			&::-webkit-scroll-track {
				background-color: #ffffff;
			}
			/* Sets width/height of 'thumb' & hides default */
			&::-webkit-scrollbar {
				appearance: none;
				-webkit-appearance: none;
				width: 0.7rem;
			}
			&::-webkit-scrollbar-thumb {
				background-color: map-get($map: $blueGreyMap, $key: "500");
				border-radius: 5rem;
			}
		}
	}
}
