@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.MarkdownToolButton {
	width: 3rem;
	height: 3rem;
	border-radius: 0.5rem;
	border: none;
	outline: none;
	background-color: transparent;
	margin: 0 0.5rem;

	&_icon {
		width: 2.5rem;
		height: 2.5rem;
		fill: map-get($map: $blueGreyMap, $key: "500");
	}
	&:hover {
		cursor: pointer;
	}
	&:hover &_icon {
		cursor: pointer;
		fill: map-get($map: $blueMap, $key: "600");
	}
}
