@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.MarkdownToolbar {
	width: 100%;
	height: 7rem;
	padding: 0 0.5rem;

	&_inner {
		@include fill_container;
		@include flex_row(flex-end, flex-end);

		&_left {
			width: auto;
			height: 100%;
			margin-right: auto;
			@include flex_row(flex-start, flex-end);
		}
		&_right {
			width: auto;
			height: 100%;
			margin-left: auto;
			@include flex_row(flex-end, flex-end);

			&_file {
				width: auto;
				height: 100%;
				margin-right: auto;
				@include flex_row(flex-end, flex-end);
			}

			&_actions {
				width: 70%;
				height: 100%;
				margin-right: auto;
				@include flex_row(flex-end, flex-end);
			}
			&_menu {
				width: 30%;
				margin-left: auto;
				@include flex_row(flex-end, flex-end);
			}
		}
	}
}

.ToolbarDivider {
	width: 1.5rem;
	height: 50%;
	border-left: 1px solid #ccc;
}
