@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.MarkdownHeader {
	width: 100%;
	height: auto;
	min-height: 7rem;
	@include flex_row(flex-start, flex-start);

	&_header {
		width: 100%;
		height: 100%;

		&_main {
			width: auto;
			padding: 0.3rem 2rem;

			&_fileName {
				font-size: 2.7rem;
				font-weight: 700;
				color: map-get($map: $blueMap, $key: "600");
			}
			&_dateCreated {
				font-size: 1.5rem;
				font-weight: 500;
				font-family: "Open Sans", "Arial", sans-serif;
				color: map-get($map: $blueGreyMap, $key: "500");
			}
		}
		&_about {
			width: auto;
			padding: 0 2rem;

			&_lastModified {
				font-size: 1.3rem;
				font-weight: 500;
				font-family: "Open Sans", "Arial", sans-serif;
				color: map-get($map: $blueGreyMap, $key: "500");
			}
			&_fileSize {
				font-size: 1.3rem;
				font-weight: 500;
				font-family: "Open Sans", "Arial", sans-serif;
				color: map-get($map: $blueGreyMap, $key: "500");
			}
		}
	}

	&_draft {
		width: 100%;
		height: 100%;
		padding: 0.5rem;
		@include flex_col(flex-end, flex-end);

		&_status {
			width: auto;
			height: auto;
		}
		&_preview {
			width: auto;
			height: 100%;
			@include flex_row(flex-end, flex-end);
		}
	}
}

.DraftStatusUnSaved {
	width: auto;
	@include flex_row(flex-start, center);

	&_icon {
		width: 1.7rem;
		height: 1.7rem;
		fill: map-get($map: $redMap, $key: "600");
		margin-right: 0.3rem;
	}

	&_text {
		font-size: 1.4rem;
		font-weight: 600;
		color: map-get($map: $redMap, $key: "600");
	}
}
.DraftStatusUnChanged {
	width: auto;
	@include flex_row(flex-start, center);

	&_icon {
		width: 1.5rem;
		height: 1.5rem;
		fill: map-get($map: $blueMap, $key: "600");
		margin-right: 0.3rem;
	}

	&_text {
		font-size: 1.4rem;
		font-weight: 600;
		color: map-get($map: $blueMap, $key: "600");
	}
}
.DraftStatusSaved {
	width: auto;
	@include flex_row(flex-start, center);

	&_icon {
		width: 1.5rem;
		height: 1.5rem;
		fill: map-get($map: $greenMap, $key: "600");
		margin-right: 0.3rem;
	}

	&_text {
		font-size: 1.4rem;
		font-weight: 600;
		color: map-get($map: $greenMap, $key: "600");
	}
}

.PreviewButton {
	padding: 1rem 1.7rem;
	border-radius: 0.5rem;
	background-color: map-get($map: $blueMap, $key: "600");
	@include flex_row(center, center);
	border: none;
	outline: none;
	margin-left: auto;
	margin-top: 3rem;
	&:hover {
		cursor: pointer;
		box-shadow: map-get($map: $shadows, $key: "mainOutline");
	}

	&_icon {
		width: 2rem;
		height: 2rem;
		fill: #ffffff;
		margin-right: 0.5rem;
	}
	&_text {
		font-size: 1.5rem;
		font-weight: 600;
		color: #ffffff;
	}
}
