@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.TagColorOption {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	margin: 0.3rem 1rem;
	border: none;
	outline: none;

	&:disabled {
		opacity: 0.3;
		cursor: not-allowed;
	}

	&:hover {
		cursor: pointer;
		box-shadow: map-get($map: $shadows, $key: "mainOutline");
	}
}
