@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.BoxShadowView {
	@include fill_container;
	@include flex_row(flex-start, flex-start, wrap);

	&_settings {
		width: 50%;
		height: 100%;
	}
	&_preview {
		width: 50%;
		height: 100%;
		@include flex_col(flex-end, center);
	}
}
