@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.SnippetDetailsView {
	@include fill_container;
	padding: 1rem 1rem;
	border-radius: 1rem;
	background-color: map-get($map: $blueGreyMap, $key: "100");

	&_header {
		width: 100%;
		height: auto;
	}
	&_main {
		@include fill_container;
	}
}
