@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.TableHeading {
	font-size: 1.6rem;
	font-weight: 700;
	padding: 1.2rem 1rem;
	text-align: left;
	border: 1px solid #ccc;
	color: map-get($map: $blueGreyMap, $key: "200");

	font-family: "Fira Mono", "Dank Mono", "Menlo", Courier, monospace;

	&:first-child {
		border-top-left-radius: 1rem;
	}
	&:last-child {
		border-top-right-radius: 1rem;
	}
}
