@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.TableWrapper {
	min-width: 80rem;
	width: 100%;
	height: auto;
	min-height: 10rem;
	max-width: 100%;
	@include flex_row(flex-start, center);
	padding: 2rem 1rem;
	padding-bottom: 2rem;
	border-bottom-left-radius: 10px;
	background-color: transparent;
	border-radius: 1rem;

	&_table {
		border-collapse: separate;
		border-spacing: 0;
		width: 100%;
		border-radius: 1rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}
}

@media only screen and (max-width: 800px) {
	.TableWrapper {
		min-width: auto;
		width: 100%;
		max-width: 100%;
		overflow-x: scroll;

		/* Background Tracking */
		&::-webkit-scroll-track {
			background-color: #ffffff;
		}
		/* Sets width/height of 'thumb' & hides default */
		&::-webkit-scrollbar {
			appearance: none;
			-webkit-appearance: none;
			height: 1rem;
			width: 0.7rem;
		}
		&::-webkit-scrollbar-thumb {
			background-color: map-get($map: $blueGreyMap, $key: "500");
			border-radius: 5rem;
		}
	}
}
