@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.TableHeadings {
	width: 100%;
	height: 100%;
	background-color: map-get($map: $blueGreyMap, $key: "900");
}
