@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.TableWrapper {
	min-width: 80rem;
	width: 100%;
	height: auto;
	min-height: 10rem;
	max-width: 100%;
	@include flex_row(flex-start, center);
	padding: 2rem 1rem;
	padding-bottom: 2rem;
	border-bottom-left-radius: 10px;
	font-family: $primary_font;
	background-color: transparent;
	border-radius: 1rem;

	&_table {
		border-collapse: separate;
		border-spacing: 0;
		width: 100%;
		border-radius: 1rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;

		&_body tr:nth-child(odd) {
			background: #eaecef;
			border-radius: 1rem;
		}

		& tr:last-child td:first-child {
			border-bottom-left-radius: 1rem;
			// border-radius: 1rem;
		}
		& tr:last-child td:last-child {
			border-bottom-right-radius: 1rem;
			// border-radius: 1rem;
		}
	}
}
