@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.PlaygroundPage {
	@include fill_container;
	padding: 4rem 2rem;

	&_main {
		width: 100%;
		height: auto;
		margin: 2rem 0;
	}
	&_custom {
		width: 100%;
		height: auto;
		min-height: auto;
		border-radius: 0.5rem;
		@include flex_row(flex-start, center);
		background-color: #eaecef;
		margin-bottom: 2rem;
		padding: 1rem;
	}
}
